.hero__tagline {
  font-size: 2rem;
  color: #b9c3cf;
  letter-spacing: 1px;
  margin: 2rem 0 5rem;
}

.grid{
    align-items: center;
    justify-content: center;
}

.hero__heading{
    text-align: center;
    font-size: 1.5rem;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
    align-self: center;
  }

  .hero__heading{
    font-size: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero {
    padding-top: 0;
  }

    .hero__heading{
    font-size: 3rem;
  }
}