.nav {
  align-items: center;
  background: var(--color-background);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem;
}

.nav__list {
  width: 100%;
  margin: 0;
}

.nav__list.hidden{
    display: none;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid var(--color-border);
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item>a {
  color:var(--color-front_color);
  transition: color 0.3s;
}

.nav__item>a:hover {
  color: var(--color-front_color);
}

.nav__toggler {
  opacity: 0.5;
  transition: box-shadow 0.15s;
  cursor: pointer;
  fill: var(--color-front_color);
  width: 40px;
  height: 40px;
}

.nav.collapsible--expanded .nav__toggler {
  opacity: 1;
  box-shadow: 0 0 0 3px var(--color-border);
  border-radius: 5px;
}

.nav__brand {
  color: var(--color-front_color);
  font-family: 'Gulzar',sans-serif;
  font-size: 5rem;
  font-weight: 400;
  line-height: 1.5;
  margin-right: 2rem;
  padding: 0;
  transform: translateY(15px);
  width: 150px;
}

.nav__item::marker{
    color: var(--color-front_color);
  }

@media screen and (min-width: 768px) {
  .nav__toggler {
    display: none;
  }
  .nav__list {
    display: flex;
    font-size: 1.6rem;
    list-style: none;
    max-height: 100%;
    opacity: 1;
    width: auto;
  }
  .nav__item {
    border: 0;
  }
}