:root{
    --color-background:#4B9CD3;
    --color-front_color:#FFFFFF;
    --color-border:#3E7FB8;
    --color-submenu-bg: #2E6DA4;
}

@font-face {
  font-family: "B_Nazanin";
  src:
    url('/fonts/B_Nazanin.TTF')
}

*, *::after, *::before {
  box-sizing: border-box;
}

html {
    font-family: 'B_Nazanin',sans-serif;
    font-size: 62.5%;
    direction: rtl;
}

a{
    text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
  margin: 1rem;
}

.grid {
  display: grid;

}

.grid--1x2{
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
}

.list{
    list-style: none;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}